@media(max-width: 1200px) {
	.main .container {
		flex-direction: column;
		align-items: flex-start !important;
		justify-content: center !important;
	}

	.main-socials {
		top: 520px;
		left: 0px;
		display: flex;
		flex-direction: row;
	}

	.main-link_social {
		margin-top: 0;
		margin-right: 15px;
	}

	.main-circle_3  {
		right: 0px;
	}

	.main-circle_green_white {
		margin: 100px auto 0px auto;
	}

	.container-story {
		flex-direction: column-reverse;
	}

	.skill-body {
		flex-direction: column;
		align-items: center;
	}

}

@media(max-width: 992px) {
	.navbar-nav li {
		margin-right: 0px;
	}

	.main-circle_2 {
		left: 200px;
	}

	.skill-title {
		padding-bottom: 20px;
	}

	.skill-list {
		display: inline-block !important;
	}

	.skill-item {
		margin: 20px auto 0px auto;
	}

	.product-list {
		margin-top: 230px;
	}
}

@media(max-width: 768px) {
	.nav-link {
		display: inline-block;
	}

	.main .container {
		padding: 50px 0;
	}

	.text-main {
		width: 100%;
	}

	.main-circle_green_white {
		margin: 120px auto 0px auto;
	}

	.main-circle_green {
		width: 400px;
		height: 400px;
	}

	.main-circle_white {
		width: 400px;
		height: 400px;
	}

	.main-circle_green1 {
		width: 70px;
		height: 70px;
		top: 60px;
	}

	.main-circle_green2 {
		width: 100px;
		height: 100px;
		bottom: -40px;
	}

	.main-socials {
		top: 550px;
	}

	.main-circle_1 {
		left: -20px;
		top: -20px;
	}

	.main-circle_2 {
		left: -20px;
	}

	.main-circle_3 {
		right: 0px;
	}

	.container-story {
		padding: 50px 0px;
	}

	.skill-title {
		width: 100%;
	}

	.skill-list {
		width: 100%;
		height: auto;
	}

	.product-list {
		margin-top: 0px;
	}
}

@media(max-width: 576px) {
	.navbar .container {
		padding-left: 30px;
		padding-right: 40px;
	}

	.main .container {
		padding-left: 30px;
		padding-right: 40px;
	}

	.text-main {
		text-align: center;
	}

	.main-socials {
		left: 150px;
	}

	.main-circle_1 {
		left: 0px;
	}

	.main-circle_2 {
		left: 0px;
	}

	.main-circle_green {
		width: 350px;
		height: 350px;
	}

	.main-circle_white {
		width: 350px;
		height: 350px;
	}

	.main-circle_green1 {
		width: 55px;
		height: 55px;
	}

	.main-circle_green2	 {
		width: 80px;
		height: 80px;
		right: 80px;
		bottom: -20px;
	}

	.story__about {
		width: 100%;
		padding: 0px 20px;
	}

	.about-title {
		text-align: center;
	}

	.about-subtext {
		text-align: center;
	}

	.about-info-list {
		flex-direction: column;
		align-items: center !important;
		justify-content: center !important;
	}

	.about-info-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.story-green {
		width: 300px;
		height: 433px;
		background-color: #0cc555;
		border-top-right-radius: 500px;
		border-top-left-radius: 500px;
	}

	.story-white {
		width: 263px;
		height: 402px;
		background-color: #d8d8d8;
		border-top-right-radius: 480px;
		border-top-left-radius: 480px;
		bottom: 2px;
	}

	.text-story {
		bottom: 85px;
	}
}

@media(max-width: 552px) {
	.main-socials {
		top: 570px;
		left: 140px;
	}
}

@media(max-width: 510px) {
	.navbar .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.main .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.main-socials {
		left: 120px;
	}
}

@media(max-width: 464px) {
	.main-socials {
		left: 90px;
		top: 600px;
	}

	.main-circle_green {
		width: 300px;
		height: 300px;
	}

	.main-circle_white {
		width: 300px;
		height: 300px;
	}
}

@media(max-width: 413px) {
	.navbar .container {
		padding: 0px 20px 0px 20px;
	}

	.main .container {
		padding: 30px 20px 30px 20px;
	}

	.main-socials {
		top: 570px;
		left: 20px;
	}
}

@media(max-width: 365px) {
	.navbar .container {
		padding: 0px 10px 0px 20px;
	}

	.main .container {
		padding: 30px 10px 30px 10px;
	}

	.main-circle_green {
		width: 250px;
		height: 250px;
	}

	.main-circle_white {
		width: 250px;
		height: 250px;
	}

	.story-green {
		margin: 20px;
	}
}