@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish-Italic.woff2') format('woff2'),
    url('./fonts/Mulish-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish-Regular.woff2') format('woff2'),
    url('./fonts/Mulish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('./fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('./fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Mulish';
}

nav {
    background-color: #0b0d0c;
}

.nav-link_search {
    margin-right: 15px;
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav .navbar-link  {
    color: #fff;
    padding: 20px 0px;
}

.navbar-nav .navbar-link:hover {
    box-shadow: 0px 3px 0px 0px #0cc555;
    color: #0cc555;
}

.main {
    background-color: #0b0d0c;
}

.main .container {
    padding: 100px 0;
}

.text-main {
    width: 560px;
}

.main-text {
    font-size: 24px;
    color: #cfcfcf;
}

.text-main span {
    color: #0cc555;
}

.main-title {
    font-size: 82px;
    font-weight: bold;
}

.main-link_contact {
    background-color: #0cc555;
    margin-right: 10px;
}

.main-link_hire {
    border: 1px solid #0cc555;
}

.main-circle_green {
    width: 512px;
    height: 512px;
    border-radius: 50%;
    background-color: #0cc555;
}

.main-circle_white {
    width: 512px;
    height: 512px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(25px, -20px);
}

.main-circle_green1 {
    width: 91px;
    height: 91px;
    background-color: #0cc555;
    border-radius: 50%;
    border: 10px solid #0b0d0c;
    top: 90px;
}

.main-circle_green2 {
    width: 139px;
    height: 139px;
    background-color: #0cc555;
    border-radius: 50%;
    border: 10px solid #0b0d0c;
    bottom: -50px;
    right: 150px;
}

.main-socials {
   top: 230px;
   left: -60px;
}

.main-link_social {
    border: 1px solid #0cc555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    margin-top: 15px;
}

.main-link_social svg {
    fill: #0cc555;
    transition: 0.2s;
}

.main-link_social:hover svg {
    fill: #fff;
}

.main-link_social:hover {
    background-color: #0cc555;
}

.main-circle_1 {
    top: 50px;
    left: 350px;
}

.main-circle_2 {
    bottom: 20px;
    left: 350px;
}

.main-circle_3 {
    top: 0px;
    right: -50px;
}

.story {
    background-color: #f8f9fb;
}

.story .container {
    padding-top: 120px;
}

.story-green {
    width: 517px;
    height: 650px;
    background-color: #0cc555;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
}

.story-white {
    width: 480px;
    height: 619px;
    background-color: #d8d8d8;
    border-top-right-radius: 480px;
    border-top-left-radius: 480px;
    bottom: 2px;
}

.text-story {
    width: 200px;
    height: 100px;
    background-color: #0cc555;
    bottom: 120px;
    border: 10px solid #fff;
    border-left: none;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.story-num {
    font-size: 48px;
}

.text-plus {
    font-size: 15px;
    top: 27px;
    left: 48px;
}

.story-text {
    font-size: 16px;
    width: 100px;
    margin-left: 20px
}

.story__about {
    width: 530px;
}

.about-text {
    font-size: 16px;
    color: #0cc555;
}

.about-header-stick {
    width: 2px;
    height: 12px;
    background-color: #0cc555;  
    margin-bottom: 12px;
    margin-left: 5px;
}

.about-header_stick2 {
    width: 50px;
    height: 2px;
    background-color: #0cc555;  
    margin-top: 5px;
}

.about-title {
    font-size: 44px;    
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #0b0d0c;
}

.about-subtext {
    font-size: 16px;
    line-height: 26px;
    color: #6c6d74;
}

.about-info-age {
    font-weight: bold;
    font-size: 16px;
    color: #0b0d0c;
}

.info-age-num {
    color: #6c6d74;
    font-weight: normal;
}

.about-link_download {
    font-size: 16px;
    color: #0b0d0c;
    border: 1px solid #0cc555;
    font-weight: 700;
}

.about-link_download:hover {
    background-color: #0cc555;
    color: #fff;
}

.skill .header {
    width: 180px;
    padding-top: 100px;
}

.skill-title {
    width: 500px;
    font-size: 44px;
    line-height: 54px;
    color: #0b0d0c;
    font-weight: 700;
    font-family: "Playfair Display";
    text-align: center;
    padding-bottom: 50px;
}

.skill-text {
    font-size: 16px;
    color: #0cc555;
    font-weight: bold;
    padding-top: 14px;
}

.skill-list {
    width: 695px;
    height: 300px;
}

.skill-item {
    filter: drop-shadow(0px 5px 12.5px rgba(136,150,143,0.2));
    background-color: #fff;
    width: 330px;
    height: 120px;
    padding: 25px 20px;
}

.skill-item:hover {
    background-color: #0b0d0c;
}

.skill-item:hover svg {
    fill: #fff;
}

.skill-item:hover .skill-image {
    background-color: #0cc555;
}

.skill-item:hover .skill-brand {
    color: #fff;
}

.skill-image {
    width: 60px;
    height: 60px;
    background-color: #f8f9fb;
}

.skill-image svg {
    fill: #0cc555;
}

.text-skill {
    margin-left: 10px;
}

.skill-year{
    font-size: 15px;
    color: #0cc555;
}

.skill-brand {
    font-size: 22px;
    color: #0b0d0c;
    font-weight: 700;
    font-family: "Playfair Display";
}

.product-list {
    padding-left: 25px;
    width: 330px;
}

.product-item {
    width: 100%;
    position: relative;
}

.product-item:nth-child(1) {
    margin-top: 20px;
}

.product-item:nth-child(2n) {
    margin-top: 25px;
}

.product-item:nth-child(3) {
    margin-top: 25px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-text {
    font-size: 16px;
    color: #0b0d0c;
    font-weight: bolder;
}

.product-percent {
    font-size: 16px;
    color: #0cc555;
    font-weight: bolder;
}

.product-footer {
    width: 275px;
    height: 5px;
    background-color: #0cc555;
}

.product-line {
    width: 35px;
    height: 5px;
    background-color: #e6eaef;
    position: absolute;
    top: 40px;
    right: -2px;
    z-index: -1;
}

.product-item .second {
    width: 240px;
}

.product-item .third {
    width: 69px;
}

.product-item .fourth {
    width: 200px;
}

.product-item .fifth {
    width: 111px;
}

.product-item .six {
    width: 240px;
}

.product-item .seven {
    width: 69px;
}

.in .header {
    width: 180px;
}

.in-item {
    width: 370px;
    padding: 30px 20px;
}

.image-in {
    width: 81px;
    height: 81px;
    background-color: #0cc555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-in svg {
    fill: #fff;
}

.in-title {
    font-size: 22px;
    font-weight: 700;
    font-family: "Playfair Display";
    color: #0b0d0c;
}

.in-text {
    font-size: 16px;
    line-height: 24px;
    color: #6c6d74;
    font-family: "Mulish";
}

.in-link {
    font-size: 16px;
    color: #0cc555;
    font-weight: bold;
}

.in-link::after {

}